<div class="container__menu-title">
    <div class="section-divider"></div>
        <h1>📜 Posts Mais Antigos</h1>
                <p>
                    Minha trajetória na tecnologia é marcada por aprendizados contínuos e desafios superados. 
                    Nesta seção, você encontrará alguns dos meus primeiros artigos, onde compartilho descobertas, 
                    erros e conquistas ao longo da minha jornada.
                </p>
                <p>
                    Cada post representa um momento importante da minha evolução como desenvolvedora, 
                    e revisitar essas experiências me lembra de como o conhecimento é um caminho em constante construção.
                </p>
                <p>
                    🔗 Navegue pelos posts abaixo e acompanhe minha evolução! 🚀
                </p>
  
</div>

