<div class="container__menu-title">
    <div class="section-divider"></div>
        <h1>🚀 Meus Projetos</h1>
                <p>
                    Explorar, criar e inovar fazem parte da minha jornada como desenvolvedora. 
                    Aqui você encontrará alguns dos projetos que desenvolvi, cada um representando um desafio 
                    superado e um aprendizado adquirido.
                </p>
                <p>
                    Todos os códigos estão disponíveis no meu GitHub, então fique à vontade para explorar, 
                    testar e contribuir!
                </p>
                <p>
                    🔗 Confira abaixo e mergulhe no universo do desenvolvimento!
                </p>
  
</div>

