<footer class="footer">
    <div class="container">
      <p class="standard">&copy; {{ currentYear }} | Meu 1º Blog Angular - Todos os direitos reservados.</p>
      <p class="mobile">&copy; {{ currentYear }} | Meu 1º Blog Angular <br> Todos os direitos reservados.</p>
      <p>
        Desenvolvido por: 
        <img 
          src="assets/img/favicon.png"  
          alt=""
          srcset=""
          width="18px"
        >
        <a class="link-footer" href="https://ti-experient.netlify.app/" target="_blank" rel="noopener noreferrer">TI Experient</a>
      </p>
    </div>
  </footer>
  