@media screen and (max-width:600px) {
    .container__menu-title > h1{
        font-size: 40px;
    } 
}

@media (min-width: 601px) and (max-width: 800px) and (orientation: portrait) {
    .container__menu-title > h1{
        font-size: 60px;
    }
    .container__menu-title > hr {
        margin-left: 20px;
    }
}

@media (min-width: 801px) and (max-width: 1024px) and (orientation: landscape) {

  }
  