/* Celular Retrato */
@media (max-width:600px) and (orientation: portrait) {
    .container__menu-title > h1{
        font-size: 35px;
    } 

    .blackout {
        margin-right: 10px;
    }
}

/* Celular Paisagem */
@media (max-width:800px) and (orientation: landscape) {
    .container__menu-title > h1{
        font-size: 60px;
    }
}

/* Tablet Retrato */
@media (min-width: 601px) and (max-width: 800px) and (orientation: portrait) {
    .container__menu-title > h1{
        font-size: 60px;
    }
    .container__menu-title > hr {
        margin-left: 10px;
    }
}
 /* Tablet Paisagem */
@media (min-width: 801px) and (max-width: 1024px) and (orientation: landscape) {
    .container__menu-title > h1{
        font-size: 80px;
    }
    .container__menu-title > hr {
        margin-left: 40px;
    }
  }
  