<div class="container__small-card">
    <div class="container__small-card-content">
        <div class="small-card__photo">
            <img 
                src="https://images.ctfassets.net/aq13lwl6616q/4wW7nnU5Nuuf9DHIIcO4Zo/8ae7a14d02e637c838d28643c32b8dc7/Angular_zero_to_mastery_.jpeg" 
                alt=""
                srcset=""
            >
        </div>
    
        <div class="small-card__title">
            <h1><a href="#">TI Experient entra com tudo em 2025</a></h1>
        </div>
    </div>

    <div class="container__small-card__separator">
        <hr>
    </div>

</div>



