@media (max-width:600px) {
    .content__cover > img {
        border: 3px solid white;
        border-radius: 5px;
        width: 150px;
        margin: 0 2%;
    }

    .content__title{
        margin-top: 10px;
        font-size: 11px;
    }
}