@media (max-width:600px) {
    .content__cover > img {
        border: 3px solid white;
        margin: 0 2%;
        width: 370px;
        min-width: 370px;
        height: 200px;
    }

    .content__title{
        margin-top: 10px;
        font-size: 11px;
    }
}