@media (max-width:600px) {
    .container__artigos{
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 200vh;
    } 
}

/* Tablet Paisagem */
@media (min-width: 801px) and (max-width: 1024px) and (orientation: landscape) {
    .container__notice-main {
        display: block;
    }

    .container__artigos {
        height: 250vh;
    }
}