@media (max-width:600px) {
    .container__artigos{
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 200vh; /* Ocupa toda a tela e não atrapalha o footer */
    }
}