<app-menu-title></app-menu-title>

<div class="container">
<div class="container__artigos">
    <div class="artigos-master">
        <app-big-card
        cardId="10"
            photoCover="assets/img/exploracao-python.png"
            cardTitle="Quando eu disse sim ao Python"
            cardTime="9 de Julho de 2025"
            cardDescription= "Como o Python entrou na minha vida de forma inesperada e revolucionou minha forma de 
                              pensar tecnologia. Descubra como superei o desinteresse inicial e passei a explorar 
                              automações, APIs e IA com entusiasmo renovado!"
            >
        </app-big-card>
    </div>

    <div class="artigos-outros">
            <app-notice-main
            cardId="10"
                photoCover="assets/img/exploracao-python.png"
                cardTitle="Quando eu disse sim ao Python"
                cardTime="9 de julho de 2025"
            >
            </app-notice-main>

            <app-small-card
            cardId="9"
                photoCover="assets/img/previsao-brasilia.jpg"
                cardTitle="Tempo em Brasília com Angular"
                cardTime="9 de marco de 2025"
            >
            </app-small-card>

            <app-small-card
            cardId="8"
                photoCover="assets/img/nps-rh-angular.png"
                cardTitle="Pesquisa de Clima em Angular"
                cardTime="2 de marco de 2025"
            >
            </app-small-card>

        <div class="artigos-outros">
            <app-small-card
            cardId="7"
                photoCover="assets/img/chatbot-angular.png"
                cardTitle="Chatbot em Angular no atendimento"
                cardTime="23 de fevereiro de 2025"
            >
            </app-small-card>
    </div>
</div>
</div>

<div class="container">
    <div class="container__projects">
        <app-latest-blog-title></app-latest-blog-title>
        <app-latest-blog></app-latest-blog>
    </div>
</div>

<div class="container">
    <div class="container__projects">
        <app-projects-title></app-projects-title>
        <app-projects></app-projects>
    </div>
</div>


