<app-menu-title></app-menu-title>

<div class="container">
<div class="container__artigos">
    <div class="artigos-master">
        <app-big-card
        cardId="4"
            photoCover="assets/img/angular-dio.jpg"
            cardTitle="37 Horas de Código: O Que Aprendi na DIO?"
            cardTime="3 de fevereiro de 2025"
            cardDescription="Neste artigo, mostro como foi minha participação em um bootcamp intenso na DIO. 37 horas de muito código, 
                            desafios e aprendizado. Confira minha experiência!"
            >
        </app-big-card>
    </div>

    <div class="artigos-outros">
            <app-notice-main
            cardId="4"
                photoCover="assets/img/angular-dio.jpg"
                cardTitle="37 Horas de Código na DIO"
                cardTime="3 de fevereiro de 2025"
            >
            </app-notice-main>

            <app-small-card
            cardId="3"
                photoCover="assets/img/pokeapi.jpg"
                cardTitle="Capturando Pokémons com Angular"
                cardTime="24 de Janeiro de 2025"
            >
            </app-small-card>

            <app-small-card
            cardId="2"
                photoCover="assets/img/rotina-estudo.jpeg"
                cardTitle="Rotina de estudos se faz fundamental"
                cardTime="18 de Janeiro de 2025"
            >
            </app-small-card>

        <div class="artigos-outros">
            <app-small-card
            cardId="1"
                photoCover="https://images.ctfassets.net/aq13lwl6616q/4wW7nnU5Nuuf9DHIIcO4Zo/8ae7a14d02e637c838d28643c32b8dc7/Angular_zero_to_mastery_.jpeg"
                cardTitle="TI Experient entra com tudo em 2025"
                cardTime="Dezembro de 2024"
            >
            </app-small-card>
    </div>
</div>
</div>

<div class="container" style="display:none;">
    <div class="container__projects">
        <app-latest-blog-title></app-latest-blog-title>
        <app-latest-blog></app-latest-blog>
    </div>
</div>

<div class="container" style="display:none;">
    <div class="container__projects">
        <app-projects-title></app-projects-title>
        <app-projects></app-projects>
    </div>
</div>


