<app-menu-title></app-menu-title>

<div class="container">
<div class="container__artigos">
    <div class="artigos-master">
        <app-big-card
        cardId="11"
            photoCover="assets/img/chatbot-ia-python.png"
            cardTitle="Chatbot inteligente com Python"
            cardTime="14 de Julho de 2025"
            cardDescription= "Como Python, WhatsApp e IA Gemini se uniram para transformar uma simples automação em um chatbot 
                              inteligente. Uma integração que mostra o poder da tecnologia e da inovação em ação!"
            >
        </app-big-card>
    </div>

    <div class="artigos-outros">
            <app-notice-main
            cardId="11"
                photoCover="assets/img/chatbot-ia-python.png"
                cardTitle="Chatbot inteligente com Python"
                cardTime="14 de julho de 2025"
            >
            </app-notice-main>

            <app-small-card
            cardId="10"
                photoCover="assets/img/exploracao-python.png"
                cardTitle="Quando eu disse sim ao Python"
                cardTime="9 de julho de 2025"
            >
            </app-small-card>

            <app-small-card
            cardId="9"
                photoCover="assets/img/previsao-brasilia.jpg"
                cardTitle="Tempo em Brasília com Angular"
                cardTime="9 de marco de 2025"
            >
            </app-small-card>

        <div class="artigos-outros">
            <app-small-card
            cardId="8"
                photoCover="assets/img/nps-rh-angular.png"
                cardTitle="Pesquisa de Clima em Angular"
                cardTime="2 de marco de 2025"
            >
            </app-small-card>
    </div>
</div>
</div>

<div class="container">
    <div class="container__projects">
        <app-latest-blog-title></app-latest-blog-title>
        <app-latest-blog></app-latest-blog>
    </div>
</div>

<div class="container">
    <div class="container__projects">
        <app-projects-title></app-projects-title>
        <app-projects></app-projects>
    </div>
</div>


