/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: #111111;
}

a{
    text-decoration: none;
}

/* Título luminoso */ 
:root {
    --glow-color: hsl(186 100% 69%);
}
